In [1]:
import pandas as pd
import numpy as np

In [2]:
data_df = pd.read_csv("purchase_data.csv")
data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:

total_players = len(data_df["SN"].unique())
total_players

576

In [4]:
# Purchasing Analysis
unique_item = len(data_df["Item Name"].unique())
unique_item

179

In [5]:
average_price = data_df["Price"].mean().round(2)
average_price

3.05

In [6]:
total_purchase = len(data_df["Purchase ID"].unique())
total_purchase

780

In [7]:
total_price = data_df["Price"].sum()
total_price

2379.77

In [8]:
data_summary = {"Number of Unique Items":["576"],
                             "Average Price":[3.05],
                             "Number of Purchases": [780], "Total Revenue":[2379.77]}

In [9]:
data_summary_df = pd.DataFrame(data_summary)
data_summary_df
data_summary_df.style.format({"Average Price": "${:,.2f}", "Total Revenue": "${:,.2f}"})

In [10]:
# Gender Demographics
groupbygender = data_df.groupby("Gender")
total_gender_count = groupbygender.nunique()["SN"]
percentage_of_players = round(total_gender_count/total_players * 100, 2)
gender_df = pd.DataFrame({ "Total Count":total_gender_count, "Percentage of Players": percentage_of_players})
gender_df
gender_df.style.format({"Percentage of Players": "{:,.2f}%"})

In [11]:
#  Purchasing Analysis (Gender)
purchase_count = groupbygender["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [12]:
avg_purchaseprice = round(groupbygender["Price"].mean(), 2)
avg_purchaseprice

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [13]:
total_purchase = groupbygender["Price"].sum()
total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [14]:
avgpurchase_total = round(total_purchase / total_gender_count, 2)
avgpurchase_total

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [15]:
df_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchaseprice,
                 "Total Purchase Value": total_purchase, "Average Total Purchase per Person": avgpurchase_total})

df_analysis.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}",
                        "Average Total Purchase per Person": '${:,.2f}'})

In [16]:
# Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24","25-29","30-34","35-39","40+"]

In [17]:
data_df["Age Group"] = pd.cut(data_df["Age"],bins, labels=group_names)
data_df
agegrouped = data_df.groupby("Age Group")
total_count = agegrouped["SN"].nunique()
percent_players = round((total_count/ total_players) *100, 2)
df_age = pd.DataFrame({"Total Count":total_count, "Percentage of Players": percent_players})
df_age
df_age.style.format({"Percentage of Players": "{:,.2f}%"})

In [18]:
# Purchasing Analysis (Age)
count_purchase = agegrouped["Purchase ID"].count() 
avg_price = round(agegrouped["Price"].mean(), 2)
total_price = agegrouped["Price"].sum()
avg_perperson = round(total_price / total_count, 2)

df_age_summury = pd.DataFrame({"Purchase Count": count_purchase, "Avg Purchase Price": avg_price,
                               "Total Purchase Value": total_price, "Avg Total Purchase per Person": avg_perperson})
df_age_summury
df_age_summury.style.format({"Avg Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}",
                             "Avg Total Purchase per Person": '${:,.2f}'})

In [19]:
#Top Spenders
purchase_count = data_df["SN"].value_counts()
grouped_SN =  data_df.groupby("SN")
average_price = round(grouped_SN["Price"].mean(), 2)
total_purchase = grouped_SN["Price"].sum()

SN_df = pd.DataFrame({"Purchase Count": purchase_count,
                     "Average Purchase Price": average_price,
                     "Total Purchase Value": total_purchase})

spenders_df= SN_df.sort_values("Total Purchase Value", ascending=False)

spenders_df.head().style.format({"Average Purchase Price": "${:,.2f}",
                        "Total Purchase Value": "${:,.2f}"})

In [20]:
#Most popular Items
items = data_df[["Item ID", "Item Name", "Price"]]
grouped_item = data_df.groupby(["Item ID", "Item Name"])
purchase_count = grouped_item["Price"].count()
total_value = grouped_item["Price"].sum()
item_price = total_value / purchase_count
popular_df = pd.DataFrame({"Purchase Count": purchase_count,
                          "Item Price": item_price,
                          "Total Purchase Value": total_value})
most_popular_df = popular_df.sort_values("Purchase Count", ascending=False)

most_popular_df.head().style.format({"Item Price": "${:,.2f}",
                        "Total Purchase Value": '${:,.2f}'})

In [21]:
# Most profitable 
items = data_df[["Item ID", "Item Name", "Price"]]
grouped_item = data_df.groupby(["Item ID", "Item Name"])
purchase_count = grouped_item["Price"].count()
total_value = grouped_item["Price"].sum()
item_price = total_value / purchase_count
popular_df = pd.DataFrame({"Purchase Count": purchase_count,
                          "Item Price": item_price,
                          "Total Purchase Value": total_value})
most_profit_df = popular_df.sort_values("Total Purchase Value", ascending=False)


most_profit_df.head().style.format({"Item Price": "${:,.2f}",
                        "Total Purchase Value": '${:,.2f}'})