In [1]:
import pandas as pd

In [2]:
file = "budget_data.csv"

In [3]:
file_df = pd.read_csv(file)
file_df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [4]:
file_df.count()

Date             86
Profit/Losses    86
dtype: int64

In [5]:
netamount_total = file_df["Profit/Losses"].sum()
netamount_total

38382578

In [14]:
averages = file_df["Profit/Losses"].mean().round(3)
averages

446309.047

In [7]:
describes = file_df["Profit/Losses"].describe()
describes

count    8.600000e+01
mean     4.463090e+05
std      5.363579e+05
min     -1.196225e+06
25%      1.821620e+05
50%      5.703280e+05
75%      7.952262e+05
max      1.170593e+06
Name: Profit/Losses, dtype: float64

In [8]:
file_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [9]:
greatest_increase = file_df.loc[file_df.loc[:,"Profit/Losses"] == 1170593,:]
greatest_increase

        Date  Profit/Losses
25  Feb-2012        1170593

In [10]:
greatest_decrease = file_df.loc[file_df.loc[:,"Profit/Losses"] == -1196225,:]
greatest_decrease

        Date  Profit/Losses
44  Sep-2013       -1196225

In [11]:
output_df = pd.DataFrame({
    
"Output" : ["Total Months: 86", 
    "Total Net Profit: 38382578", 
    "Average Change: 446309.0465116279", 
    "Greatest Increase: Feb-2012 1170593", 
    "Greatest Decrease: Sep-2013 -1196225"]
})

output_df

                                 Output
0                      Total Months: 86
1            Total Net Profit: 38382578
2     Average Change: 446309.0465116279
3   Greatest Increase: Feb-2012 1170593
4  Greatest Decrease: Sep-2013 -1196225

In [12]:
output_df.to_csv("solved_budget_date.csv", index=False, header=True)