In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "election_data.csv"

In [3]:
poll_df = pd.read_csv(file)
poll_df.head(10)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
5  19014606  Marsh        Li
6  17775191  Queen    Correy
7  14003692  Marsh      Khan
8  14255761  Marsh      Khan
9  13870173  Marsh    Correy

In [4]:
total_votes=(len(poll_df["Voter ID"].unique()))
total_votes

3521001

In [5]:
candidates = poll_df["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [6]:
votes_df = poll_df["Candidate"].value_counts()
votes_df

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [7]:
average = votes_df / (total_votes * 100
average

SyntaxError: invalid syntax (<ipython-input-7-6a7a5d0be2c5>, line 2)

In [ ]:
winner = poll_df["Candidate"].mode()
winner

In [ ]:
polls_summary = {"Candidates": ["Khan", "Correy", "Li", "O'Tooley"],
                             "Percent of Vote": ["63%", "20%", "14%", "3%"],
                             "Total Votes": ["2,218,231", "704,200", "492,940", "105,630"]}

In [ ]:
polls_summary_df=pd.DataFrame(polls_summary)
polls_summary_df

In [ ]:
print("winner is Khan")

In [ ]:
polls_summary_df.to_csv("solved_election_data.csv", index=False, header=True)